 * {
     box-sizing: border-box;
 }

 body {
     margin: 0;
 }

 #kotak-atas {
     background-color: aqua;
     height: 60px;
     width: 100%;
     display: flex;
     justify-content: space-between;
     padding: 0 30px;
     font-size: 25px;
 }  
 #Nama {
     margin-top: 20px;
     font-size: 20px;
     margin-left: -60%;
     display: flex;
     cursor: pointer;
 }
 #masuk {
     display: flex;
     margin-top: 15px;
 }
 #Judul{
    font-size: 30px;
    margin-top: 10px;
 }
 #masuk button {
     margin-left: 20px;
     margin-right: 20px;
     height: 30px;
     width: 70px;
     cursor: pointer;
     border-radius: 10px;
 }

 #box-kotak {
     width: 1300px;
     height: 630px;
     border: 1px solid black;
     box-shadow: 0px 0px 15px;
     margin-left: 7%;
 }
 #Kotak-text{
    margin-top: 60px;
   
    margin-left: 50px;
 }
 #Lapor1{
    margin-left: 83%;
    margin-top: -80px;
 }
 #Lapor1 button{
    height: 30px;
    width: 70px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;border-radius: 10px;
    
 }
 #nama{
    height: 35px;
    width: 250px;
 }
 #email{
    height: 35px;
    width: 250px;
    margin-left: 20px;
 }
 .box-nama-email{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}
 